:root {
    --color-primary: #4575c6;
    --color-secondary: #8bafea;
    --color-complementary: #4f8cf2;
    --color-text: #0e1015;
    --color-background: #fbfcfd;
    --color-background-toned-down-100: #cccdce;
    --color-background-toned-down-200: #a0a0a1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;;
}

/* Header */

header {
    background-color: var(--color-primary);
    padding: 10px 0;
}

.title {
    color: var(--color-background);
    text-align: center;
    font-size: 62px;
    font-weight: 800;
}

/* Body */

body {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.grid-container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.draw-instructions {
    padding: 20px;
    color: var(--color-background-toned-down-200);
    text-align: center;
}

.grid-cell {
    background-color: var(--color-background-toned-down-100);
}

.grid-cell:hover {
    background-color: var(--color-secondary);
}

/* Footer */

footer {
    background-color: var(--color-text);
    color: var(--color-background);
    padding: 1rem 0;
    text-align: center;
    font-size: 18px;
}

